<link rel="stylesheet" href="{{ 'wish.css' | asset_url }}" />
<script src="{{ 'filter.js' | asset_url }}" defer></script>


  
    <div class="filter_page">
      <h2 class="ques_title">Quel type de vélo ?</h2>
      <input type='range' id="rainput" value="0" disabled class="range-input" min="0" max="100"/>
      <div class="prod_type fil_cont">
        <div>
          <img
              class='pro_img fil_img'
              src="{{ 'vile.jpg' | asset_img_url: 'master' }}"
              alt="Vélo de ville"
              loading='eager'
              {% comment %} width="{{ i.featured_media.width }}" {% endcomment %}
              {% comment %} height="{{ i.featured_media.height }}" {% endcomment %}
            >
          <input type="checkbox" name="Vélo de ville" value="Vélo de ville">
          <label for="Vélo de ville">Vélo de ville</label>
        </div>

        <div>
          <img
              class='pro_img fil_img'
              src="{{ 'vtc.jpg' | asset_img_url: 'master' }}"
              alt="vtc"
              loading='eager'
              {% comment %} width="{{ i.featured_media.width }}" {% endcomment %}
              {% comment %} height="{{ i.featured_media.height }}" {% endcomment %}
            >
          <input type="checkbox" name="VTC" value="VTC">
          <label for="VTC">VTC</label>
        </div>

        <div>
          <img
              class='pro_img fil_img'
              src="{{ 'vtc.jpg' | asset_img_url: 'master' }}"
              alt="Vélo Cargo"
              loading='eager'
              {% comment %} width="{{ i.featured_media.width }}" {% endcomment %}
              {% comment %} height="{{ i.featured_media.height }}" {% endcomment %}
            >
          <input type="checkbox" name="Vélo Cargo" value="Vélo cargo">
          <label for="Vélo Cargo">Vélo cargo</label>
        </div>

        <div>
          <img
              class='pro_img fil_img'
              src="{{ 'vtt.jpg' | asset_img_url: 'master' }}"
              alt="VTT"
              loading='eager'
              {% comment %} width="{{ i.featured_media.width }}" {% endcomment %}
              {% comment %} height="{{ i.featured_media.height }}" {% endcomment %}
            >
          <input type="checkbox" name="VTT" value="VTT">
          <label for="VTT">VTT</label>
        </div>

        <div>
          <img
              class='pro_img fil_img'
              src="{{ 'pliant.jpg' | asset_img_url: 'master' }}"
              alt="Vélo Pliant"
              class="motion-reduce"
              loading='eager'
              {% comment %} width="{{ i.featured_media.width }}" {% endcomment %}
              {% comment %} height="{{ i.featured_media.height }}" {% endcomment %}
            >
          <input type="checkbox" name="Vélo pliant" value="Vélo pliant">
          <label for="Vélo pliant">Vélo pliant</label>
        </div>
      </div>

      <div class="prod_size fil_cont hide">
        <div>
          <img
              class='pro_img fil_img'
              src="{{ 'S.jpg' | asset_img_url: 'master' }}"
              alt="Small Cycle"
              loading='eager'
              {% comment %} width="{{ }}" {% endcomment %}
              {% comment %} height="{{  }}" {% endcomment %}
            >
          <input type="checkbox" name="S" value="S">
          <label for="S"><b>S</b> (150cm - 170cm)</label>
        </div>

        <div>
          <img
              class='pro_img fil_img'
              src="{{ 'M.jpg' | asset_img_url: 'master' }}"
              alt="Medium Cycle"
              loading='eager'
              {% comment %} width="{{ }}" {% endcomment %}
              {% comment %} height="{{  }}" {% endcomment %}
            >
          <input type="checkbox" name="M" value="M">
          <label for="M"><b>M</b> (150cm - 170cm)</label>
        </div>
        <div>
          <img
              class='pro_img fil_img'
              src="{{ 'L.jpg' | asset_img_url: 'master' }}"
              alt="Large Cycle"
              loading='eager'
              {% comment %} width="{{ }}" {% endcomment %}
              {% comment %} height="{{  }}" {% endcomment %}
            >
          <input type="checkbox" name="L" value="L">
          <label for="L"><b>L</b> (150cm - 170cm)</label>
        </div>
        <div>
          <img
              class='pro_img fil_img'
              src="{{ 'U.jpg' | asset_img_url: 'master' }}"
              alt="Extra Large Cycle"
              loading='eager'
              {% comment %} width="{{ }}" {% endcomment %}
              {% comment %} height="{{  }}" {% endcomment %}
            >
          <input type="checkbox" name="U" value="U">
          <label for="U"><b>U</b> (150cm - 170cm)</label>
        </div>
      </div> 

      <div class="prod_price fil_cont hide">
        <div>
            <img
                class='pro_img fil_img'
                src="{{ 'coins-1.jpg' | asset_img_url: 'master' }}"
                alt="Lowest budget"
                loading='eager'
                {% comment %} width="{{ }}" {% endcomment %}
                {% comment %} height="{{  }}" {% endcomment %}
              >
            <input type="radio" name="price" value="filter.v.price.lte=1000">
            <label>Moins de <b>1000€</b></label>
          </div>

          <div>
            <img
                class='pro_img fil_img'
                src="{{ 'coins-2.jpg' | asset_img_url: 'master' }}"
                alt="Entry Level Budget"
                loading='eager'
                {% comment %} width="{{ }}" {% endcomment %}
                {% comment %} height="{{  }}" {% endcomment %}
              >
            <input type="radio" name="price" value="filter.v.price.gte=1000&filter.v.price.lte=2500">
            <label>Entre <b>1000 et 2500€</b></label>
          </div>

          <div>
            <img
                class='pro_img fil_img'
                src="{{ 'coins-3.jpg' | asset_img_url: 'master' }}"
                alt="Most Budget"
                loading='eager'
                {% comment %} width="{{ }}" {% endcomment %}
                {% comment %} height="{{  }}" {% endcomment %}
              >
            <input type="radio" name="price" value="filter.v.price.gte=2500">
            <label>Plus de <b>2500€</b></label>
          </div>
      </div>  
      <div class='hide result'>
        <img
            class='pro_img fil_img'
            src="{{ 'bike_finder.png' | asset_img_url: 'master' }}"
            alt="Lowest budget"
            style="width: 25%;"
            loading='eager'
            {% comment %} width="{{ }}" {% endcomment %}
            {% comment %} height="{{  }}" {% endcomment %}
          >
        <button style="1.5rem 3rem  !important" id="spn_wishlist_btn" class="progress_button discover_btn">Découvrir</button>
      </div>
      <div data-current="type" style="display: flex;flex: 1;width: 100%;justify-content: space-between;margin: 1.5rem;">
        <button  id="spn_wishlist_btn" class="progress_button back_button">Previous</button>
        <button  id="spn_wishlist_btn" class="progress_button continue_button">Continue</button>
      </div>
    </div>




{% schema %}
{
  "name": "Filter Questions",
  "target": "section",
  "settings": [
    {
      "type": "product_list",
      "id": "product_list",
      "label": "Featured Types"
    }
  ]
}
{% endschema %}
